<% for (var i = 0; i <= expenses.length-1; i++) { %>
	<div class="expenses-container">
		<p>Name: <%= expenses[i].name %> </p>
		<p>Date: <%= expenses[i].date %></p>
		<p>Time: <%= expenses[i].time %></p>
		<p>Amount: <%= expenses[i].amount %></p>
		<p>Description: <%= expenses[i].description %></p>
	</div>
<% } %>
